<!DOCTYPE html>
<html>

<head>
    <title>GNPS - External</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="https://gnps2.org/">
            <img src="/static/img/GNPS_logo.png" alt="Logo" style="width:120px;">
        </a>


    </nav>

    <div id="app-4" class="container-fluid justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <h2>GNPS - Spectral Libraries - <a href="https://library.gnps2.org/"> Browse </a></h2>
            </div>
            <div class="col-sm"></div>
        </div>

        <hr>

        <div class="col-sm text-center">
            <h2>Summary Numbers</h2>
            <br>
            <div class="col-sm text-center">
                Total number of MS/MS Spectra - ((number_of_spectra))
                <br>
                Date Last Libraries Fully Exported - ((last_modified))
            </div>
        </div>

        <br>
        <hr>

        <div class="col-sm text-center">
            <h2>GNPS Library List</h2>
        </div>

        <div style="">
            <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th>
                        GNPS Library
                    </th>
                    <th>
                        Library Type
                    </th>
                    <th>
                        Browse at GNPS
                    </th>
                    <th>
                        MGF Download
                    </th>
                    <th>
                        MSP Download
                    </th>
                    <th>
                        JSON Download
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="library_dict in library_list">
                        <td>{{library_dict.libraryname}}</td>
                        <td>{{library_dict.type}}</td>
                        <td>
                            <browse-linkout :url=library_dict.browselink :libraryname=library_dict.libraryname></gnps-linkout>
                        </td>
                        <td>
                            <download-linkout :url=library_dict.mgflink :libraryname=library_dict.libraryname></gnps-linkout>
                        </td>
                        <td>
                            <download-linkout :url=library_dict.msplink :libraryname=library_dict.libraryname></gnps-linkout>
                        </td>
                        <td>
                            <download-linkout :url=library_dict.jsonlink :libraryname=library_dict.libraryname></gnps-linkout>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            GNPS indicates annotated MS/MS spectra deposited by the community that is freely available. 
            <br>
            GNPS_PROPOGATED indicates annotated spectra that is propogated computationally from reference MS/MS spectra.
            <br>
            IMPORT indicates libraries that are imported from other community MS/MS spectra resources.
            <br>
            AGGREGATED indicates aggregations of different sets of collections of libraries.
        </div>
        
        <hr>

        <div class="col-sm text-center">
            <h2>Preprocessed Data</h2>
        </div>
        <div style="">
            <p>
                Preprocessed data is data that has been filtered by our machine learning preperation and the matchms pipelines. Versioned, citable archives of the data are available for download at <a href="https://zenodo.org/records/10724907">Zenodo</a>.
            </p>
            <p>
                For more details about the MatchMS cleaning pipeline see <a href="https://chemrxiv.org/engage/chemrxiv/article-details/6560c5e629a13c4d47e66013">here</a>.
            </p>
        </div>

        <div style="">
            <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th>
                        Dataset Name
                    </th>
                    <th>
                        Processing Pipeline
                    </th>
                    <th>
                        CSV Download
                    </th>
                    <th>
                        MGF Download
                    </th>
                    <th>
                        JSON Download
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="processed_dict in preprocessed_list">
                        <td>{{processed_dict.libraryname}}</td>
                        <td>{{processed_dict.processingpipeline}}</td>
                        <td>
                            <download-linkout :url=processed_dict.csvlink :libraryname=processed_dict.libraryname></gnps-linkout>
                        </td>
                        <td>
                            <download-linkout :url=processed_dict.mgflink :libraryname=processed_dict.libraryname></gnps-linkout>
                        </td>
                        <td>
                            <download-linkout :url=processed_dict.jsonlink :libraryname=processed_dict.libraryname></gnps-linkout>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>

    Vue.component('download-linkout', {
        props: ['libraryname', 'url'],
        data: function() {
            return {}
        },
        methods: {},
        template: '<a v-if="url" :href="url">Download</a><span v-else>N/A</span>'
    })

    // Adding Browse Linkout
    Vue.component('browse-linkout', {
        props: ['libraryname', 'url'],
        data: function() {
            return {}
        },
        methods: {},
        template: '<a v-if="url" :href="url">Browse</a><span v-else>N/A</span>'
    })

    var app4 = new Vue({
        el: '#app-4',
        methods: {},
        data: {
            library_list : ((library_list|tojson)),
            preprocessed_list : ((preprocessed_list|tojson))
        }
    })
    </script>

</body>

</html>
